<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.free_app">

    <!--yolo-->
    <!--Permission-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.INTERNET" />

    <!--camera-->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Free_APP"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBfYXYe2mJaKxOD7Aa9lAlKx_jEb1MMRHs" />

        <activity android:name=".RecycleActivity"
            android:parentActivityName=".MainActivity"/>

        <activity android:name=".cardnews.CardnewsActivity"
            android:parentActivityName=".MainActivity"/>

        <activity android:name=".after_search.MainSearchActivity"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".after_search.SearchResultActivity"
            android:parentActivityName=".after_search.SearchBackActivity"/>
        <activity android:name=".after_search.SearchBackActivity"/>
        <activity android:name=".after_search.RecommendRecycle"
            android:parentActivityName=".after_search.RecommendRecycleBackActivity"/>
        <activity android:name=".after_search.SearchRecycle"
            android:parentActivityName=".after_search.SearchRecycleBackActivity"/>
        <activity android:name=".after_search.ClickRecommend"
            android:parentActivityName=".after_search.RecommendBackActivity"/>
        <activity android:name=".after_search.RecommendBackActivity"/>
        <activity android:name=".after_search.RecommendRecycleBackActivity"/>
        <activity android:name=".after_search.SearchRecycleBackActivity"/>
        <activity android:name=".after_search.NoitemActivity"
            android:parentActivityName=".MainActivity"/>

        <activity android:name=".after_recycle_search.RecycleSearchActivity"
            android:parentActivityName=".Recycle1Activity"/>
        <activity android:name=".after_recycle_search.AfterRecycleSearch"
            android:parentActivityName=".after_recycle_search.RecycleSearchBackActivity"/>
        <activity android:name=".after_recycle_search.RecycleSearchBackActivity"/>
        <activity android:name=".after_recycle_search.NoitemRecycleActivity"
            android:parentActivityName=".Recycle1Activity"/>


        <activity android:name=".Recycle1Activity"
            android:parentActivityName=".RecycleActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name=".Recycle_Method.CanActivity"
            android:parentActivityName=".Recycle1Activity"/>
        <activity android:name=".Recycle_Method.GlassActivity"
            android:parentActivityName=".Recycle1Activity"/>
        <activity android:name=".Recycle_Method.PaperActivity"
            android:parentActivityName=".Recycle1Activity"/>
        <activity android:name=".Recycle_Method.Paper2Activity"
            android:parentActivityName=".Recycle1Activity"/>
        <activity android:name=".Recycle_Method.PlasticActivity"
            android:parentActivityName=".Recycle1Activity"/>
        <activity android:name=".Recycle_Method.VinylActivity"
            android:parentActivityName=".Recycle1Activity"/>


        <activity android:name=".Recycle3Activity"
            android:parentActivityName=".ZerowasteActivity"/>
        <activity android:name=".ZerowasteActivity"
            android:parentActivityName=".RecycleActivity"/>


        <activity android:name=".recycleTip.RecycleTip"
            android:parentActivityName=".RecycleActivity"/>
        <activity android:name=".RecycleCamera"
            android:parentActivityName=".Recycle1Activity"/>
        <activity android:name="RecycleResult_bottle"
            android:parentActivityName=".RecycleCamera"/>
        <activity android:name=".AfterDetectActivity"
            android:parentActivityName=".MainActivity"/>
    </application>


</manifest>